.name {
    font-size: 50px;
    margin-bottom: 2px;
}

.about {
    float: left;
}

.condiv{
    text-align: left;
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
    background-color: #e3e3e3;
    display: flow-root;
    color: black;
}

@media only screen and (min-width: 600px) {
  .condiv {
      margin-left: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .condiv {
      margin-left: 30%;
  }
}

@media only screen and (min-width: 1150px) {
  .condiv {
      margin-left: 25%;
  }
}