.condiv {
    text-align: left;
    padding: 100px ;
    background-color: rgb(97, 129, 182);
    display: flow-root;
    color: white;
}

.name {
    font-size: 50px;
    margin-top: 15vh;
    margin-bottom: 15px;
}

.about {
    float: left;
    padding-right: 250px;
}

@media only screen and (min-width: 600px) {
    .condiv {
        margin-left: 45%;
    }
}

@media only screen and (min-width: 768px) {
    .condiv {
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1150px) {
    .condiv {
        margin-left: 25%;
    }
}

