.condiv {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #e3e3e3;
    display: flow-root;
    margin-top: 50px;
    padding-top: 25px;
}

.icon {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.miologo{
    width: 55px;
    height: 55px;
}

.title{
    text-align: center;
    color: #ff4081;
    font-size: 34px;
    margin: 20px;
}

@media only screen and (min-width: 600px) {
    .condiv {
        margin-left: 45%;
    }
}

@media only screen and (min-width: 768px) {
    .condiv {
        margin-left: 30%;
    }
}

@media only screen and (min-width: 1150px) {
    .condiv {
        margin-left: 25%;
    }
}