.row {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: grid;
    padding-top: 10vh;
    color: #f4f5f9;
}

.line {
    height: 10px;
    border-top: 2px solid #c7c9ce;
    width: 155px;
    /* may need margin depending on picture */
}

.nav {
    font-size: 22px;
    padding: 10px 18px;
}
.nav:hover{
    font-size: 27px;
}

.active {
    color:#2196f3!important;    
}

ul {
    list-style-type:none;
}

li:last-child {
    border-bottom: none;
}

@media only screen and (min-width: 600px) {
    .row {
        width: 45%;
        float: left;
        background: #173F5f; 
    }
}

@media only screen and (min-width: 768px) {
    .row {
        width: 30%;
    }
}

@media only screen and (min-width: 1150px) {
    .row {
        width: 25%;
    }
}