.intro{
    display: flow-root;
    margin-left: 25%;
}

.background{
    height: 100vh;
    width: 100%;
    display: table;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./pics/intro.jpg) top center fixed;
    background-size: cover;
}

.container{ 
    color: #f4f5f9;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}


.container h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
}

.container h3 {
    margin: 15px;
}